# Emotion detection
torch
transformers
safetensors

# Reddit dataset extraction
zstandard
orjson
pandas

#cause extraction 
transformers

#intent extraction
spacy 

# General
huggingface-hub
pydantic
